html{
	box-sizing: border-box;
}
body{
	margin : 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'Roboto Mono', monospace;
	background: #faf0e6;
}
.mainContainer{
	width : 100%;
	height: 100%;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	overflow-y: hidden;
	overflow-x: hidden;

}

.blogClose{
	position: absolute;
	left: 0%;
	top: 1%;
	cursor: pointer;
}

.blogTitle{
	font-weight: bold;
	margin-top: 2%;
	text-align: center;

}

.blogContainer .portrait img{
	height: 200px;
	max-width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}




.name{
	width: 100%;
	text-align: center;
	font-size: 15px;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	/*padding-right: 5%;*/
}

.customLink{
	color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.mainMenu{
	/*display: none;*/
	position: relative;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 72%;
	font-size: 30px;
	transition: opacity 500ms;
}



.option{
	width: 100%;
	border-bottom:  1px solid black;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor : pointer;
	position: relative;

	user-select: none;
}

.block{
	position: absolute;
	height: 20px;
	width : 20px;
	right :0;
	z-index: 2000;
	top : 15px;
/*	transform: translateY(-50%);*/
	transform-origin: right;
}

.waveTarget{
	display: flex;
}



.aboutMeContainer img{
	margin-top: 10%;
	margin-bottom: 10%;
	height: 200px;

}
.description{
/*	position: absolute;
	top: 50%;
	left: 6%;
	height: 50%;
	width : 100%;
	transform: translateY(-50%);*/
}



.sidebar{
	width: 80%;
    left: 0;
    height: 75%;
    top: 48%;
    left: 50%;
	-webkit-overflow-scrolling: touch;
    z-index: 5000;
    transform: translate(-50%,-50%);
    position: absolute;
    transition: transform;
    transition-duration: 500ms;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
  /*  overflow-x: hidden;*/
    padding-top: 0%;
    max-width: 800px;
    /* padding-left: 10%; */
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.mini{
	transform: scale(.001);

}

.scrollArrow{
	position: absolute;
	bottom : 11.8%;
	transition: transform;
	transition-duration: 1s;

}

.codeContainer{
	/*align-items: center;*/
	text-align: center;
	/*justify-content: center;*/
}

.general{
	/*margin-top: 5%;*/
}

.header{
	font-weight: bold;
	margin-bottom: 5px;
}
.linkTitle + div{
	margin-top: 5px;
}

.codeSection{
	border : 2px dotted black;
	padding : 20px;
	margin-top : 5%;
	max-width: 400px;
	text-align: center;
}

.codeContainer .codeSection:last-of-type{
	margin-bottom: 5%;
}

.sidebar.reduced{
	top: 45%;
	height: 70%
}

@media only screen and (max-width : 450px){
	.block{
		will-change : width;
	}
	.waveTarget{
		font-size: 25px;
	}
	.name{
		font-size: 14px;
		text-align: center;
		justify-content: center;
	}
	.description{
		font-size: 14px;
	}


	.codeSection{
		max-width: 100%;
	}
	.scrollArrow{
		opacity: 0;
		font-size: 16px;

	}
	.mainMenu{
		width: 80%;

	/*	position: absolute;
		top: 50%;
		transform : translateY(-50%);*/
	}
}

@media only screen and (max-height: 520px){
	.name{
		opacity: 0;
	}
	.scrollArrow{
		opacity: 0;
	}
	.miniMenu{
		opacity: 0;
	}
}


::-webkit-scrollbar { 
    display: none; 
}


